# custom files
# SolomanDavis: UNIGNORE custom/ files so that they are commited
# to the fork and tracked. Useful for example in a dotfiles submodule.
custom/
!custom/*.zsh

# temp files directories
cache/
log/
*.swp
.DS_Store
